@{
    ViewBag.Title = "AdminForgotPassword";
    Layout = "~/Views/Shared/_MasterAllUsers.cshtml";
}

<form name="ForgotPassword" method="post">
<div style="text-align:center;position:relative;top:150px">
    Enter Username @Html.TextBox("txtAUname")
    <br/><br/>
    Enter  Hint @Html.TextBox("txtAHint")
    <br/><br/>
    <input type="submit" name="btnAForgotPassword" value="Get Password" formaction="~/Home/AdminForgotPassword">
    <br/><br/>
    @Html.Label("lblAForgotPasswordMsg", ViewData["lblAForgotPasswordMsg"].ToString(), new { style = ViewBag.AFPwdandbtnStyle })
    <br/><br/>
    @Html.ActionLink("Back to Login", "AdminLogin", "Home", null, new { style = ViewBag.AFPwdandbtnStyle })
</div>
</form>
