@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_MasterHome.cshtml";
}

<p style="position:relative; font-size: 28px; font-style: oblique; font-weight: 400; color:orangered; width: 855px; text-align: justify; top: 100px; left: 7px; height: 180px;">
    .Net community is a community website for .Net users that can help wide-spread,
    disparate offline communities to come-together, connect and share thoughts,
    ideas and valuable information. .Net community websites allow users to
    communicate through a single platform share/contribute/process data to an
    individual or a wide network of users.
</p>