@{
    ViewBag.Title = "UserForgotPassword";
    Layout = "~/Views/Shared/_MasterAllUsers.cshtml";
}

<form name="UFPwd" method="post">
    <div style="position:relative;top:160px;left:220px;text-align:left">
        <table>
            <tr>
                <td>Enter Username</td>
                <td>@Html.TextBox("txtUName", null, new { style = "width:206px" })</td>
            </tr>
         <tr>
             <td>Select Security Question</td>
             <td>
                 @Html.DropDownList("DropSecQueList", new SelectList(new List<string>{
               "What is your Nickname?",
               "What is your best friend name?",
               "What is your first school name?",
               "What is your favourite food?",
               "What is favourite timepass?"
                            }), "-select-", new { style = "width:206px" })
             </td>
         </tr>
            <tr>
                <td>Enter Answer</td>
                <td>@Html.TextBox("txtUAnswer", null, new { style = "width:206px" })</td>
            </tr>
        </table>
        <br/>
        <input type="submit" name="btnForgotPassword" value="Forgot Password" formaction="~/Home/UserForgotPassword" style="position:relative;left:120px" />
        <br/><br/>
        @Html.Label("UPwdMsg", ViewData["UPwdMsg"].ToString(), new { style = ViewData["uflabelstyle"] })
    </div>
</form>
