@{
    ViewBag.Title = "AdminChangePassword";
    Layout = "~/Views/Shared/_MasterAdminHome.cshtml";
    string pwdmsg="";
    string labelstyle = "";
    if(this.IsPost)
    {
        if(Request["btnchangepassword"]=="Change Password")
        {
            int i = (int)ViewData["lblChPwdMsg"];
            if(i==1)
            {
                pwdmsg = "Password changed successfully";
                labelstyle = "color:green";
            }
            else
            {
                pwdmsg = "Password not changed";
                labelstyle = "color:red";
            }
        }
    }
}

<form name="adminchangepassword" method="post">
    <div style="position:relative;text-align:center;margin-top:150px">
        Enter  Old  Password @Html.Password("txtOldPwd")
        <br /><br />
        Enter  New  Password @Html.Password("txtNewPwd")
        <br /><br />
        Confirm New Password @Html.Password("txtReNewPwd")
        <br /><br />
        <input type="submit" name="btnchangepassword" value="Change Password" formaction="~/Admin/AdminChangePassword" />
        <br /><br />
        @Html.Label("lblChPwdMsg", pwdmsg, new { style = labelstyle })
    </div>
</form>
